<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Event Details</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
</head>

<body onload="checkJoin1();checkpref1();">
	<header class="cover-photo auss-header">

		<div v-on:load="isLoggedInStatus" id="test" class="top-bar-transparent inline-content">
			<div class="logo">
				<img src="images/clubhaus_logo.png" alt="Website Logo">
			</div>
			<div class="search">
				<input type="text" class="search">
			</div>
			<div class="sign">
				<div class="vertical-div drop-down">
					<button class="red" onclick="seeSignInOptions()" v-if="!isLoggedIn" id="loginBtn" type="button">Log In</button>
					<button id="loginUserBtn" type="button" class="red" style="display: none;" onclick="visitLogin()">User</button>
					<button id="loginManagerBtn" type="button" class="red"  style="display: none;">Club Manager</button>
					<button id="loginAdminBtn" type="button" class="red"  style="display: none;">System Admin</button>
				</div>
				<button class="red" onclick="visitRegister()" v-if="!isLoggedIn" id="registerBtn"
					type="button">Register</button>
				<button class="red" onclick="visitMyAccount()" v-if="isLoggedIn" id="myAccountBtn" type="button">My
					Account</button>
				<button class="red" onclick="visitMyEvent()" v-if="isLoggedIn" id="myEventsBtn" type="button">My Events</button>
				<button class="red logout" onclick="logout()" v-if="isLoggedIn" id="logoutBtn" type="button">Log out</button>
			</div>

		</div>
	</header>

    <div class="main-content">
		<div class="inline-content">
			<div class="vertical-div">
            <h1>International Students Lunch</h1>
			<h4  id="club-button">Adelaide University Space Society Club</h4>
            <h3>About</h3>
            <p>📣 The UoA SET Societies invite you to the International Students Lunch! 📣</p>
            <p>
                Gather around your closest mates for a complimentary pizza lunch 🏃, connect with like-minded peers who
                share similar interests 🙋, and discover exciting opportunities from our welcoming SET societies! 🎉
            </p>
            <p>
                Check out the Facebook event by the following link:<br>
                <a href="https://www.facebook.com/events/913331846621421"
                    target="_blank">https://www.facebook.com/events/913331846621421</a>
            </p>
            <p>Please remember to be COVID safe.</p>
            <p>The SET Societies would like to acknowledge the Traditional Owners and Custodians of the lands where this
                event is held, the Kaurna people. We pay our respects to Indigenous Elders past, present and emerging.
                Sovereignty has never been ceded. It always was and always will be, Aboriginal land.
            </p>

            <h3>Details</h3>
            <p><strong>Date:</strong> 03/05/2023</p>
            <p><strong>Time:</strong> 11:00am</p>
            <p><strong>Duration:</strong> 3 hours</p>
            <p><strong>Location:</strong> UniBar Adelaide</p>
        </div>
		<div class="vertical-div" style="width: 300px;">
			<button type="button" id="rsvp" class="green">RSVP</button>
		</div>
		</div>
        <img class="club-photo" src="/images/auss-unibar_adelaide.jpg" alt="Event Photo">
    </div>


	<footer>
		<div>
			<p><b>Services</b></p>
			<p>About</p>
			<p>Help Desk</p>
			<p>Careers</p>
			<p>Security</p>
			<p>Privacy</p>
			<p>Accessability</p>
		</div>
		<div>
			<p><b>Connec Your Socials</b></p>
			<p>Data Transfer</p>
			<p>Contact Support</p>
			<p>Instagram</p>
			<p>Facebook</p>
			<p>Twitter</p>
		</div>
		<div>
			<p><b>Register a Club</b></p>
			<p>Event Policies</p>
			<p>Systems Planner</p>
			<p>Payment Systems</p>
			<p>Registration Issues</p>
		</div>
	</footer>

    <script src="/javascripts/auss_event_page.js"></script>
	<script src="/javascripts/home.js"></script>
</body>

</html>