<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Event Details</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
</head>

<body onload="checkJoin1();checkpref1();">
	<header class="cover-photo auss-header">

		<div v-on:load="isLoggedInStatus" id="test" class="top-bar-transparent inline-content">
			<div class="logo">
				<img src="images/clubhaus_logo.png" alt="Website Logo">
			</div>
			<div class="search">
				<input type="text" class="search">
			</div>
			<div class="sign">
				<div class="vertical-div drop-down">
					<button class="red" onclick="seeSignInOptions()" v-if="!isLoggedIn" id="loginBtn" type="button">Log In</button>
					<button id="loginUserBtn" type="button" class="red" style="display: none;" onclick="visitLogin()">User</button>
					<button id="loginManagerBtn" type="button" class="red"  style="display: none;">Club Manager</button>
					<button id="loginAdminBtn" type="button" class="red"  style="display: none;">System Admin</button>
				</div>
				<button class="red" onclick="visitRegister()" v-if="!isLoggedIn" id="registerBtn"
					type="button">Register</button>
				<button class="red" onclick="visitMyAccount()" v-if="isLoggedIn" id="myAccountBtn" type="button">My
					Account</button>
				<button class="red" onclick="visitMyEvent()" v-if="isLoggedIn" id="myEventsBtn" type="button">My Events</button>
				<button class="red logout" onclick="logout()" v-if="isLoggedIn" id="logoutBtn" type="button">Log out</button>
			</div>

		</div>
	</header>

   <div class="main-content">
		<div class="inline-content">
			<div class="vertical-div">
            <h1>Your Place In Space</h1>
           	<h4  id="club-button">Adelaide University Space Society Club</h4>
            <h3>About</h3>
            <p>Who will be on the panels for the upcoming Your Place In Space event, you ask? 🤔</p>
            <p>This spectacular line-up of panellists cannot wait to share valuable insights within the current space
                defence industry and network with each of you. Be sure to order your tickets NOW to secure your spots to
                avoid disappointment 🌌👀</p>
            <p>What's not to like when we have free food available 😉🥄</p>
            <p>Don't miss out on this stellar opportunity! 🚀🛰️</p>
            <p>
                Tickets: <a href="https://events.humanitix.com/your-place-in-space-defence"
                    target="_blank">https://events.humanitix.com/your-place-in-space-defence</a>
            </p>

            <h3>Details</h3>
            <p><strong>Date:</strong> 26/04/2023</p>
            <p><strong>Time:</strong> 5:30pm</p>
            <p><strong>Duration:</strong> 2 hours</p>
            <p><strong>Location:</strong> Stone and Chalk, Lot 14 </p>
        </div>
		<div class="vertical-div" style="width: 300px;">
				<button type="button" id="rsvp" class="green">RSVP</button>
			</div>
		</div>
        <img class="club-photo" src="images/auss-your_place_in_space_1.png" alt="Event Photo">
        <img class="club-photo" src="images/auss-your_place_in_space_2.png" alt="Event Photo">
        <img class="club-photo" src="images/auss-your_place_in_space_3.png" alt="Event Photo">
    </div>


	<footer>
		<div>
			<p><b>Services</b></p>
			<p>About</p>
			<p>Help Desk</p>
			<p>Careers</p>
			<p>Security</p>
			<p>Privacy</p>
			<p>Accessability</p>
		</div>
		<div>
			<p><b>Connec Your Socials</b></p>
			<p>Data Transfer</p>
			<p>Contact Support</p>
			<p>Instagram</p>
			<p>Facebook</p>
			<p>Twitter</p>
		</div>
		<div>
			<p><b>Register a Club</b></p>
			<p>Event Policies</p>
			<p>Systems Planner</p>
			<p>Payment Systems</p>
			<p>Registration Issues</p>
		</div>
	</footer>

    <script src="/javascripts/auss_event_page.js"></script>
	<script src="/javascripts/home.js"></script>
</body>

</html>