<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Event Details</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
</head>

<body>
	<header class="cover-photo">
		<img class="header-image" src="images/AUSS_header.jpeg" alt="Header Image">
		<div class="top-bar-transparent inline-content">
			<div class="logo">
				<img onclick="goHome()" src="images/clubhaus_logo.png" alt="Website Logo">
			</div>
			<div class="search">
				<input type="text" class="search">
			</div>

			<div v-on:load="isLoggedInStatus" id="test">
				<div class="sign">
					<button class="red" onclick="visitLogin()" v-if="!isLoggedIn" id="loginBtn" type="button">Log In</button>
					<button class="red" onclick="visitRegister()" v-if="!isLoggedIn" id="registerBtn" type="button">Register</button>
					<button class="red" onclick="visitMyAccount()" v-if="isLoggedIn" id="myAccountBtn" type="button">My Account</button>
					<button class="red" onclick="visitMyEvent()" v-if="isLoggedIn" id="myEventsBtn" type="button">My Events</button>
                    <button class="red logout" onclick="logout()" v-if="isLoggedIn" id="logoutBtn" type="button">Log out</button>
				</div>
			</div>
		</div>
	</header>


    <div class="main-content">
        <div class="left-column">
            <div class="content">
                <h1>Club Name</h1>
                <h3>About</h3   >
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque finibus lacinia ipsum sit amet
                    laoreet.
                    Fusce fringilla luctus libero ut ultricies. Duis ut est eu erat viverra bibendum ut eu risus. Donec
                    ut
                    tellus non neque rutrum sagittis. Donec sed orci ac sem tincidunt dictum in sit amet tellus. Nullam
                    ante
                    velit, gravida quis finibus non, faucibus sed lectus. Nunc a sem eget augue ullamcorper porttitor.
                </p>

                <p> Vivamus vel imperdiet est. Morbi ut sapien non dolor porttitor porta. Nullam et massa lacus.
                    Interdum et
                    malesuada fames ac ante ipsum primis in faucibus. Nam nec ligula nisi. Proin imperdiet accumsan urna
                    eget sollicitudin. Donec elementum libero ac dignissim tincidunt. Suspendisse venenatis vehicula
                    elit
                    vel congue. Nam tincidunt laoreet libero, sit amet fringilla neque fringilla ultrices.
                </p>

                <p>
                    Nullam ullamcorper volutpat nulla, id sodales erat mattis et. Suspendisse fringilla dapibus finibus.
                    Morbi feugiat tortor vel lectus dictum imperdiet...
                </p>
                <h3>Socials</h3>
                <p><strong>Instagram:</strong> xxx</p>
                <p><strong>Facebook:</strong> xxx</p>
                <p><strong>Email:</strong> xxx</p>
                <p><strong>Website:</strong> xxx</p>
            </div>
            <img class="club-photo" src="images/AUSS_extra_image.webp" alt="Club Photo">
        </div>

        <div class="right-column">
            <div class="join-button">
                <button type="button" class="green">Join Club</button>
            </div>
            <div class="event-list">
                <h3>Events</h3>
                <ul>
                    <li>
                        <h4>Event 1</h4>
                        <p>Date: June 1, 2023</p>
                        <p>Location: San Francisco, CA</p>
                        <p>Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </li>
                    <li>
                        <h4>Event 2</h4>
                        <p>Date: June 15, 2023</p>
                        <p>Location: New York, NY</p>
                        <p>Description: Nulla auctor, metus eget ultricies iaculis, enim odio elementum velit, eu
                            malesuada nunc lacus et leo.</p>
                    </li>
                    <li>
                        <h4>Event 3</h4>
                        <p>Date: July 1, 2023</p>
                        <p>Location: London, UK</p>
                        <p>Description: Fusce eget diam quis turpis viverra dignissim.</p>
                    </li>
                </ul>
                <button type="button" class="red">See More Events</button>
            </div>
        </div>

    </div>


	<footer>
		<div>
			<p><b>Services</b></p>
			<p>About</p>
			<p>Help Desk</p>
			<p>Careers</p>
			<p>Security</p>
			<p>Privacy</p>
			<p>Accessability</p>
		</div>
		<div>
			<p><b>Connec Your Socials</b></p>
			<p>Data Transfer</p>
			<p>Contact Support</p>
			<p>Instagram</p>
			<p>Facebook</p>
			<p>Twitter</p>
		</div>
		<div>
			<p><b>Register a Club</b></p>
			<p>Event Policies</p>
			<p>Systems Planner</p>
			<p>Payment Systems</p>
			<p>Registration Issues</p>
		</div>
	</footer>

    <script src="/javascripts/club_page.js"></script>
	<script src="/javascripts/home.js"></script>
</body>

</html>