<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>My Account</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
</head>

<body onload="placeInfo();renderMyClubs();">
	<header>
		<div class="top-bar-transparent inline-content">

			<div class="logo">
				<img onclick="goHome()" src="images/clubhaus_logo.png" alt="Website Logo">
			</div>
			<div class="search">
				<input type="text" class="search">
			</div>

			<div v-on:load="isLoggedInStatus" id="test">
				<div class="sign">
					<button class="red" onclick="visitLogin()" v-if="!isLoggedIn" id="loginBtn" type="button">Log In</button>
					<button class="red" onclick="visitRegister()" v-if="!isLoggedIn" id="registerBtn"
						type="button">Register</button>
					<button class="red" onclick="visitMyAccount()" v-if="isLoggedIn" id="myAccountBtn" type="button">My
						Account</button>
					<button class="red" onclick="visitMyEvent()" v-if="isLoggedIn" id="myEventsBtn" type="button">My Events</button>
                    <button class="red logout" onclick="logout()" v-if="isLoggedIn" id="logoutBtn" type="button">Log out</button>
				</div>
			</div>
		</div>
	</header>

    <div class="main-content">
		<h1>My Account</h1>
		<div class="inline-content">
			<div class="vertical-div grey-container" style="height: 500px; margin: 20px 0px; display:flex; justify-content: space-between;">
				<div class="vertical-div">
					<h3>Personal Information</h3>
					<div class="info">
						<p><strong>Name:</strong></p>
						<p><strong>Email:</strong></p>
					</div>
				</div>
				</div>
			<div class="vertical-div grey-container" style="max-width: 850px;">
				<h3>My Clubs</h3>
				<div class="grid-content">
				</div>
        	</div>
   		</div>
	</div>
	<footer>
		<div>
			<p><b>Services</b></p>
			<p>About</p>
			<p>Help Desk</p>
			<p>Careers</p>
			<p>Security</p>
			<p>Privacy</p>
			<p>Accessability</p>
		</div>
		<div>
			<p><b>Connec Your Socials</b></p>
			<p>Data Transfer</p>
			<p>Contact Support</p>
			<p>Instagram</p>
			<p>Facebook</p>
			<p>Twitter</p>
		</div>
		<div>
			<p><b>Register a Club</b></p>
			<p>Event Policies</p>
			<p>Systems Planner</p>
			<p>Payment Systems</p>
			<p>Registration Issues</p>
		</div>
	</footer>
    <script src="/javascripts/home.js"></script>

</body>

</html>